{% extends "layout.twig" %}

{% block content %}
  <br>
  <div class="row">
        <div class="col-sm-12">
            <h1>Paso 2 de 3</h1>
        </div><!-- TERMINA ENCABEZADO -->

        <div class="col-sm-12 col-md-6">
            <div class="col-sm-12">
                <h3>Información de la compra</h3>
                <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>1</th>
                    <td>Factura Electrónica Paquete SkyPlus 100</td>
                    <td>$350.00 </td>
                    </tr>
                </tbody>
                </table>
            </div><!-- TERMINA INFORMACIÓN DE LA COMPRA-->
            <div class="col-sm-12">
                <h3>Información del contacto</h3>
                <table class="table table-borderless table-sm">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">Nombre</td>
                        <td>Sixto Animas Mejía</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Email</td>
                        <td>sixto.animas@sophitech.mx</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Teléfono</td>
                        <td>5552116648</td>
                    </tr>
                </tbody>
                </table>
            </div><!-- TERMINA INFORMACIÓN DEL CONTACTO-->
        </div><!-- TERMINA DATOS GENERALES-->

        <div class="col-sm-12 col-md-6">
            <h3>Datos de la tarjeta</h3>
            <form action="">
                <div class="form-group"> 
                    <div class="form-group">
                        <label class="col-form-label" for="cardholder">Nombre</label>
                        <small id="emailHelp" class="form-text text-strong">* Como aparece en la tarjeta</small>
                        <input class="form-control form-control-sm" type="text" placeholder="Nombre del tarjetahabiente" id="cardholder" name="cardholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="tarjetNumber">Número</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Número de tarjeta de credito" id="tarjetNumber" name="tarjetNumber">
                    </div>
                    <label class="col-form-label" for="inputDefault">Fecha de expiración</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="MM" name="month">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="AAAA" name="year">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="CVC" name="cvc">
                        </div>
                    </div>
                </div> 
            </form>
        </div><!-- TERMINA DATOS DE LA TARJETA -->

        <div class="col-md-12">
            <p class="text-justify"><small>El procesamiento de los pagos de este portal se lleva a cabo a través de la infraestructura de Conekta (Grupo Conektame, S.A. de C.V. una filial de Conekta Inc.).
                    Conekta es un agregador con número de registro 999009 dado de alta ante el Banco de México y supervisado por la CNBV como participante en redes.
                    Conekta cumple con todos los procedimientos, políticas y sistemas técnicos requeridos por PCI DSS para almacenar, procesar y (o) transmitir datos de tarjetahabientes.</small></p>
            <div class="text-center">
                <img src="./img/icons_legal.png" class="img-fluid" alt="Iconos legal"> 
            </div>   
        </div><!-- TERMINA INFORMACIÓN LEGAL-->

    </div><!-- TERMINA ROW -->
{% endblock %}