{% extends "layout.twig" %}

{% block content %}
    <br>
    <div class="row">        
        <div class="col-sm-8">
            <h1>Login</h1>
            <div class="alert alert-primary" role="alert">
                {{ responseMessage }}
            </div>
            <form action="/auth" method="post" >
                <label for="">Email</label>
                <input type="text" name="email">
                <label for="">Password</label>
                <input type="password" name="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}